{% extends 'base.html.twig' %}

{% block title %}New Add{% endblock %}

{% block body %}
    <h1>Create new Add</h1>

    {{ include('add/_form.html.twig') }}

    <a href="{{ path('add_index') }}">back to list</a>
{% endblock %}
